<%- include layout.ejs %>

<% if(uploaded === "true"){ %>
<div>
	<h3>Status</h3>
	<table class="table">
		<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col">Zip Code</th>
				<th scope="col">Status</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i=0; i < zipCodeStatus.length; i++) { %>
			<tr>
				<td>
					<%= i + 1 %>
				</td>
				<td>
					<%= zipCodeStatus[i].zip_code %>
				</td>
				<td>
					<%= zipCodeStatus[i].status %>
				</td>
			</tr>
			<% } %>
		</tbody>
	</table>
</div>
<% } else{ %>
<h3>Unable to add data. Please try again.</h3>
<div class="error-message">Error -
	<%= message %>
</div>
<% } %>
<a class="btn btn-primary back-to-home-btn" href="/">Back To Home</a>